<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale = 1.0">
    <title>Payment</title>
    <link rel="stylesheet" href="pay.css">
  </head>
    <body>
      <header>
        <nav>
     <ul>
       <li><a href="/home.html">home</a></li>
       <li><a href="/transaction">Transaction history</a></li>
        </ul>
        </nav>
       </header>
       <main>
      <h1>Payment here</h1>
      <p>Secure and encrypted payment process</p>
      <hr>
      
     <section class="workspace">
       <div class="toolbar">
         <form class="payment-local">
           <h2>Payment Details</h2>
           <label for="bank-used">Bank Name</label>
         <input type="text" id="bank-used" name="bank-used" placeholder="Enter your bank name">
         
         <label for="bank-account-number">Account Number</label>
         <input type="text" id="bank-account-number" name="bank-account-number" placeholder="Enter your account number">
         <button id="submit" class="tool-btn">Submit</button>
         </form>
       </div>
     </section>
       </main>
    </body>
                                               </html
